* {
  --main-color: #3c3532;
  --secondary-color: #ec6707;
  --section-color-light: #f8f8f8;
  --section-color-dark: ##e8e8e8;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}