* {
  --main-color: #3c3532;
  --secondary-color: #ec6707;
  --section-color-light: #f8f8f8;
  --section-color-dark: ##e8e8e8;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.editor {
  padding: 14px 18.5px;
}

.toolbar {
  transition: all 1s ease;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.killAllSpacing {
  margin: 0px;
  padding: 0;
}